/* line 7, ../scss/style.scss */
header {
  font-family: 'Playfair Display', serif;
  margin: 100px 0;
  color: #4C4D4D;
}
/* line 11, ../scss/style.scss */
header h1 {
  font-size: 400%;
}
/* line 14, ../scss/style.scss */
header p {
  color: #8D8D8D;
}

/* line 21, ../scss/style.scss */
.statement {
  font-family: 'Playfair Display', serif;
  margin: 40px 0;
}
/* line 24, ../scss/style.scss */
.statement .mediaIcons {
  display: inline;
}
/* line 27, ../scss/style.scss */
.statement h2 {
  border-bottom: 1px dotted #4C4D4D;
  color: #4C4D4D;
}
/* line 31, ../scss/style.scss */
.statement p {
  color: #8D8D8D;
}

/* line 37, ../scss/style.scss */
.positions {
  font-family: 'Playfair Display', serif;
  margin: 40px 0;
}
/* line 40, ../scss/style.scss */
.positions h2 {
  border-bottom: 1px dotted #4C4D4D;
}
/* line 43, ../scss/style.scss */
.positions p {
  color: #8D8D8D;
}

/* line 48, ../scss/style.scss */
.partners {
  font-family: 'Playfair Display', serif;
  margin: 40px 0;
}
/* line 52, ../scss/style.scss */
.partners h2 {
  border-bottom: 1px dotted #4C4D4D;
  color: #4C4D4D;
}
/* line 56, ../scss/style.scss */
.partners p {
  color: #8D8D8D;
}
/* line 59, ../scss/style.scss */
.partners ul {
  list-style: none;
  padding: 0;
}
/* line 64, ../scss/style.scss */
.partners li {
  display: inline;
}
/* line 68, ../scss/style.scss */
.partners img {
  height: 100px;
  margin: 50px 40px;
}

/* line 78, ../scss/style.scss */
footer {
  background-color: #4C4D4D;
  color: white;
  font-family: 'Playfair Display', serif;
}
/* line 82, ../scss/style.scss */
footer p {
  margin: 40px 0;
}
