* {
  // outline: 1px dotted red;
}



header {
  font-family: 'Playfair Display', serif;
  margin: 100px 0 ;
  color: #4C4D4D;
  h1 {
      font-size: 400%;
  }
  p {
      color: #8D8D8D;
  }


}

.statement {
  font-family: 'Playfair Display', serif;
  margin: 40px 0;
  .mediaIcons {
display: inline;
  }
  h2 {
      border-bottom: 1px dotted #4C4D4D;
      color: #4C4D4D;
  }
  p {
      color: #8D8D8D;
  }

}

.positions {
    font-family: 'Playfair Display', serif;
    margin: 40px 0;
    h2 {
        border-bottom: 1px dotted #4C4D4D;
    }
    p {
        color: #8D8D8D;
    }
}

.partners {
    font-family: 'Playfair Display', serif;
    margin: 40px 0;

    h2 {
        border-bottom: 1px dotted #4C4D4D;
        color: #4C4D4D;
    }
    p {
        color: #8D8D8D;
    }
    ul  {
        list-style: none;
        padding: 0;
    }

    li {
        display: inline;
    }

    img {
        height: 100px;
        margin: 50px 40px;
    }
}





footer {
    background-color: #4C4D4D;
    color: white;
    font-family: 'Playfair Display', serif;
    p {
        margin: 40px 0;
    }
}
